* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #005e608e;
}

.auth-wrapper {
    position: relative;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background-color: white;
    padding: 40px 30px;
    border: 3px solid black;
    box-shadow: 10px 10px 0px 0px black;
    width: 350px;
    text-align: left;

    position: absolute;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    backface-visibility: hidden;

}

.login-card.active {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
    pointer-events: auto;
    z-index: 10;
}

.login-card.hidden-top {
    transform: translateY(-120vh);
    filter: blur(10px);
    opacity: 0;
    pointer-events: none;
}

.login-card.hidden-bottom {
    transform: translateY(120vh);
    filter: blur(10px);
    opacity: 0;
    pointer-events: none;
}

.switch-text {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
}

.switch-text span {
    color: #005F60;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

h2 {
    text-align: center;
    color: #005F60;
    margin-bottom: 30px;
    font-size: 24px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    border: 2px solid black;
    font-size: 14px;
    box-shadow: 4px 4px 0px 0px black;
    outline: none;
}

input::placeholder {
    color: #aaa;
}

.login-btn {
    width: 100%;
    padding: 15px;
    background-color: #005e60b8;
    color: black;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 0px 0px black;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    transition: transform 0.1s;
}

.login-btn:active {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px 0px black;
}

.login-btn:hover {
    box-shadow: -5px -5px 0px 0px #005F60; 
    
    background-color: black;
    border-color: #005e60cc;
    color: #fff;
}

.forgot-link {
    display: block;
    text-align: right;
    margin-top: 15px;
    font-size: 12px;
    color: #333;
    text-decoration: none;
}

.forgot-link:hover {
    text-decoration: underline;
}
